* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
}

header{
    color: whitesmoke;
    background-color: #343a40;
}

.menu-icon{
    border-radius: 5%;
    border: 2px solid #64707b;
    background: #343a40;
    text-align: center;
    /* padding-right: 8%; */
    color: whitesmoke;
    display: none;
}

.menu-nav{
    display:none;
}

.background-total{
    background-image: url(../assets/img/michal-grosicki.jpg);
}

.total-image{
    height: 400px;
    background-size: cover;
    background-position: center;
}

.row {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.column {
    outline: 1px solid rgb(56, 198, 241);
    float: left;
    padding: 1em;
    width: 100%;
}

/* small 480px up
medium 768px up
large 992px up */

@media (max-width: 480px) {

    .two-columns .header-logo{
        width: 80%;
    }

    .two-columns .header-nav{
        width: 20%;
        padding: 4%;
    }

    .menu-icon{
        display:block;
    }

    .total-image{
        height: 350px;
        background-size: cover;
        background-position: center;
    }

}