* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    background: rgb(49, 46, 45);
}

.menu-icon{
    border-radius: 5%;
    background: lightblue;
    text-align: center;
    padding: 1%;
    color: whitesmoke;
    display: none;
}


.background-total{
    background-image: url(../assets/img/michal-grosicki.jpg);

}

.total-image{
    height: 400px;
    background-size: cover;
    background-position: center;
}

.row {
    width: 90%;
    /*90*/
    margin: 0 auto;
    overflow: hidden;
}

.column {
    outline: 1px solid rgb(56, 198, 241);
    float: left;
    /* margin-right: 2%; */
    /* padding: 1em; */
    width: 100%;
}

/* small 480px up
medium 768px up
large 992px up */

@media (max-width: 480px) {
    .logo-title{
        display: inline-block;
        padding: .5em;
    }

    .nav-bar{
        display:inline-block;
        padding: .5em;
    }

    .menu-icon{
        display: inline-block;
    }

}